#dstr1 {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content:center;
    background-color: grey;
    margin:2% 3%;
    
}
#dstr1 img{
    
}
#dstr1 p {
        
    }
